*~
*.DS_Store
*.swp
__pycache__

*.o
*.a
*.so
*.bc
*.dylib
*.pyc
*.out
*.err
*.exec
*.dat
*.csv
*.hdf
*.pdf
*.eps

src/config_schema.h
src/*-desugared.rg
src/version.h
src/version.rg
test/*.h
test/*-desugared.rg
